.landing1 {
    display: flex;
    min-height: 800px;
    color: #EE5E7C;
    padding-top: 5%;
    background-color: black;
    font-weight: bold;
    transition: 0.2s;
    flex-direction: column;
    align-items: center;
}

.landing1:hover {
    background-image: linear-gradient(to right, #7864FF , #2148E6);
}

.circle-image {
    border: 6px solid #7864FF;
    border-radius: 50%;
    height: 350px;
    object-fit: cover;
    width: 370px;
}

.title-name {
    animation: kf-color-mix 1s linear infinite alternate;
    font-style: italic;
    font-size: medium;
    padding-top: 50px;
}

@keyframes kf-color-mix {
    0% { color: #DF2DA8 }
    100% { color: #2148E6 }
}

.blink {
    animation: blink 1s infinite;
    font-weight: 200;
    position: absolute;
    letter-spacing: 0;
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}
