.landing1 {
    display: flex;
    min-height: 800px;
    color: #EE5E7C;
    padding-top: 5%;
    background-image: linear-gradient(#2148E6 , #7864FF);    font-weight: bold;
    transition: 0.2s;
    flex-direction: column;
    align-items: center;
}

.circle-image {
    border: 6px solid #7864FF;
    border-radius: 50%;
    height: 350px;
    object-fit: cover;
    width: 370px;
}

.title-name {
    animation: kf-color-mix 1s linear infinite alternate;
    font-style: italic;
    font-size: 40px;
    padding-top: 40px;
}

@keyframes kf-color-mix {
    0% { color: red }
    100% { color: yellow }
}

.blink {
    animation: blink 1s infinite;
    font-weight: 200;
    position: absolute;
    letter-spacing: 0;
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}
